[bumpversion]
current_version = 2.0.0
commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:README.md]

[bumpversion:file:action.yml]
search = ghcr.io/luisalejandro/agoras-actions:{current_version}
replace = ghcr.io/luisalejandro/agoras-actions:{new_version}

[bumpversion:file:docker/Dockerfile]
search = agoras=={current_version}
replace = agoras=={new_version}

[bumpversion:file:Dockerfile]
search = agoras=={current_version}
replace = agoras=={new_version}

[bumpversion:file:Makefile]
search = agoras=={current_version}
replace = agoras=={new_version}

[bumpversion:file:.github/workflows/push.yml]
search = ghcr.io/luisalejandro/agoras-actions:{current_version}
replace = ghcr.io/luisalejandro/agoras-actions:{new_version}
