[bumpversion]
current_version = 1.1.3
tag_name = {new_version}
commit = True
tag = True

[bumpversion:file:README.md]

[bumpversion:file:action.yml]
search = agoras-actions:{current_version}
replace = agoras-actions:{new_version}

[bumpversion:file:docker/Dockerfile]
search = agoras=={current_version}
replace = agoras=={new_version}

[bumpversion:file:Dockerfile]
search = agoras=={current_version}
replace = agoras=={new_version}

[bumpversion:file:Makefile]
search = agoras=={current_version}
replace = agoras=={new_version}

[bumpversion:file:.github/workflows/push.yml]
search = agoras-actions:{current_version}
replace = agoras-actions:{new_version}
