[bumpversion]
current_version = 1.1.3
tag_name = {new_version}
commit = True
tag = True

[bumpversion:file:README.md]

[bumpversion:file:action.yml]

[bumpversion:file:docker/Dockerfile]

[bumpversion:file:Dockerfile]

[bumpversion:file:Makefile]

[bumpversion:file:.github/workflows/push.yml]
