name: Build and push agoras docker image

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Github Packages registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Building docker image
        uses: docker/build-push-action@v4
        with:
          tags: ghcr.io/luisalejandro/agoras-actions:1.1.2
          file: docker/Dockerfile
          context: docker
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          load: false
